<!-- Pagination -->
<ul class="pagination">
	<!-- List -->
	{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
	{{ if .Paginator.HasPrev }}<li><a href="{{ .Site.BaseURL }}{{.Paginator.Prev.URL}}">{{ .Site.Data.l10n.pagination.newer }} &laquo;</a></li>
	{{end}}
	{{end}}
	<li class="active"><a href="#">{{ .Site.Data.l10n.pagination.page }} {{ .Paginator.PageNumber}} of {{.Paginator.TotalPages}}</a></li>
	{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
	{{ if .Paginator.HasNext }}
	<li><a href="{{ .Site.BaseURL }}{{.Paginator.Next.URL}}">{{ .Site.Data.l10n.pagination.older }} &raquo;</a></li>
	{{end}}
	{{end}}
</ul>