{{ partial "head" . }}

{{ partial "header" . }}
	
<div class="main-block">

				<!-- Page heading two starts -->
				
				<div class="page-heading-two">
						<div class="container">
							<h2>Spell <span>Spells casted in game</span></h2>
							<div class="breads">
								Home / Spell
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					
	<div class="container">
		<div class="row">
						
			<div class="table-responsive">
				<table class="table table-striped">
					<tbody><tr>
						<th></th>
						<th>Name</th>
					</tr>
					{{ $paginator := .Paginate .Data.Pages }}
					{{ range $paginator.Pages }}
					<tr>
						{{ .Render "summary" }}
					</tr>
					{{ end}}					
				</tbody></table>
				{{ partial "pagination" . }}
			</div>
		</div>
	</div>
</div>