#bin and build for temp build files
bin/
/Build/
/build/
Build32/
build32/
Build64/
build64/
Build_32/
build_32/
Build_64/
build_64/

# eqemu temp files
*.oldlock


# deploy/server stuff that needs ignored.
deploy/server/eqemu_config.xml
deploy/server/*.lock
deploy/server/eqcleanup-linux64
deploy/server/eqemu_update.pl
deploy/server/backups/
deploy/server/db_update/
deploy/server/db_dumper.pl
deploy/server/login.ini
deploy/server/queryserv
deploy/server/shared_memory
deploy/server/ucs
deploy/server/world
deploy/server/zone
deploy/server/.bash_history
deploy/server/eqlaunch
deploy/server/export_client_files
deploy/server/import_client_files
deploy/server/EQEmu.sln
deploy/server/EQEmu.sdf
deploy/server/EQEmu.opensdf
deploy/server/common/
deploy/server/client_files/
deploy/server/luabind/
deploy/server/Win32/
deploy/server/eqlaunch/
deploy/server/shared/*

# Dependencies
/dependencies/boost/boost
/dependencies/libsodium
/dependencies/luaj_x64
/dependencies/mysql_x64
/dependencies/openssl_x64/include/openssl
/dependencies/zlib_x64

# This is the file list builder exe
deploy/client/filelistbuilder*

# This is where patchfiles export to once we prep a patch
deploy/client/patch/*

#docker related
.bash_history 

#logs are ignored for versioning
*.log

# Object files
*.o
*.obj
*.svn
.svn/

common/
*.pdb
*.ilk

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Visual Studio files
*.vcxproj
*.filters

