 

#bin and build for temp build files
bin/
/Build/
/build/
Build32/
build32/
Build64/
build64/
Build_32/
build_32/
Build_64/
build_64/
# eqemu temp files
*.oldlock

doxygen/

# Csharp sln
[Oo]bj
packages/
Temp/

# Dependencies
/dependencies/luaj_x64
/dependencies/mysql_x64
/dependencies/openssl_x64/include/openssl
/dependencies/zlib_x64

# This is the file list builder exe
deploy/client/rof/patch.zip
deploy/client/rof/filelist*

# This is where patchfiles export to once we prep a patch
deploy/client/patch/*

#docker related
.bash_history 


#logs are ignored for versioning
*.log

# Object files
*.o
*.obj
*.svn
.svn/
*.suo
.wget-hsts

#common/
*.pdb
*.ilk
*.orig

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Visual Studio files
*.vcxproj
*.filters

!RebuildEQ.exe
dailyreport.yml

# OS X Indexes
.DS_Store

#Jetbrains

.idea/*
dependencies/protobuf/windows/x64/lib/libprotobufd.lib
