{{ partial "head" . }}


 <section id="pricing" class="dark">
  <div class="container">
        <div class="row" style="margin-top:60px;">
        <div class="text-center">
                <h2>{{ .Title }} </h2>
        </div>
        </div>
    </div>
</section>


<div class="container">
    {{ partial "header" . }}
    <div class="outer">
        <section id="main" class="full-width">
            <section class="archives-wrap">
                <div class="archives">
                    {{ $paginator := .Paginate .Data.Pages }}
                    {{ range $paginator.Pages }}
                        {{ .Render "summary" }} 
                    {{ end }}
                </div>
            </section>
            {{ partial "pagination" . }}
        </section>
    </div>
</div>

{{ partial "footer" . }}
</body>
</html>
