swagger: "2.0"
info:
  description: "RebuildEQ API"
  version: "1.0.0"
  title: "RebuildEQ API"
  termsOfService: "http://dilectus/terms.html"
  contact:
    email: "rebuildeq@gmail.com"
  license:
    name: "No real copyright"
    url: "http://rebuildeq.com"
host: "app.rebuildeq.com"
produces:
  - application/json
paths:
  /login:
    post: 
      tags: ["Authorization"]
      description: Log in
      operationId: postLogin
      parameters:
        - in: body
          name: body
          description: Login credentials
          required: true
          schema:
            $ref: '#/definitions/LoginRequest'
      responses:
        200:
          description: '200 / OK'
          schema:
            $ref: '#/definitions/LoginResponse'        
        default:
          description: Unhandled Error
  /characters:
    get:
      tags: ["Character"]
      description: Get list of characters
      operationId: getCharacters
      responses:
        200:
          description: '200 / OK'
          schema:
            $ref: '#/definitions/Characters'
        default:
          description: Unhandled Error
definitions:
  Character:
    type: object
    properties:
      name: 
        type: string
        example: Shin
      id:
        type: integer
        example: 666123
  Characters:
    type: array
    items:
      $ref: '#/definitions/Character'
  LoginRequest:
    properties:
      username:
        type: string
        example: test
      password:
        type: string
        example: foo      
  LoginResponse:
    properties:
      api-key:
        type: string
      expiresIn:
        type: string  
securityDefinitions:
  ApiKey:
    type: apiKey
    name: api-key
    in: header
  Session:
    type: apiKey
    name: session
    in: query
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"