 {{ $paginator := .Paginate (where .Site.Pages "Type" "post") }}

    {{ range $paginator.Pages }}
<div class="row">
    <form class="well bs-component">
        <div class="form-group">
        {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
            <a href="{{ .Permalink }}" itemprop="url">
                {{if or (in (substr .Params.banner 0 7) "http://") (in (substr .Params.banner 0 8) "https://")}}
                <img src="{{ .Params.banner }}" class="article-banner">
                {{ else }}
                <img src="{{ .Site.BaseURL }}{{ .Params.banner }}" class="article-banner">
                {{end}}
            {{ end }}
            </a>
            <p class="text-center">
             <label class="control-label">{{ partial "article_header" . }}</label>
             </p>
            {{ printf "%s" .Summary | markdownify }}
            <br>
             <p class="article-more-link">
                    <a href="{{ .Permalink }}">
                        {{with .Site.Data.l10n.articles.read_more}}{{.}}{{end}}
                    </a>
                </p>
            </p>
      </div>
   </form>
</div>
    {{ end }}