

 <section id="pricing" class="dark">
  <div class="container">
        <div class="row" style="margin-top:60px;">
        <div class="col-md-4 col-md-offset-2">
        {{ if and (isset .Params "banner") (not (eq .Params.banner "")) }}
                {{if or (in (substr .Params.banner 0 7) "http://") (in (substr .Params.banner 0 8) "https://")}}
                <img src="{{ .Params.banner }}" class="margin-top img-responsive article-banner">
                {{ else }}
                {{end}}
            {{ end }}
        </div>
        </div>
    </div>
</section>


<article>
  <div class="container">
    <div class="row">
      <article id="page-undefined" class="article article-type-page" itemscope="" itemprop="blogPost">
        <div class="article-inner">
            

            {{ partial "article_header" . }}
            <div class="article-entry" itemprop="articleBody">
                {{ .Content }}
            </div>            
        </div>

        {{ partial "prev_next_post" . }}
    </article>
    </div>
  </div>
</article>


