{{ partial "head" . }}

{{ partial "header" . }}

<div id="layout" class="pure-g">

	<div class="content pure-u-1 pure-u-md-4-4">
		<div>
			<div class="row">
				<div class="form-group">
					<a href="/builds/bard"><img class="classicon " src="/icons/brd.png"></a>
					<a href="/builds/cleric"><img class="classicon " src="/icons/clr.png"></a>
					<a href="/builds/druid"><img class="classicon " src="/icons/dru.png"></a>
					<a href="/builds/enchanter"><img class="classicon " src="/icons/enc.png"></a>
					<a href="/builds/magician"><img class="classicon " src="/icons/mag.png"></a>
					<a href="/builds/monk"><img class="classicon " src="/icons/mnk.png"></a>
					<a href="/builds/necromancer"><img class="classicon " src="/icons/nec.png"></a>
					<a href="/builds/paladin"><img class="classicon " src="/icons/pal.png"></a>
					<a href="/builds/ranger"><img class="classicon " src="/icons/rng.png"></a>
					<a href="/builds/rogue"><img class="classicon " src="/icons/rog.png"></a>
					<a href="/builds/shadow-knight"><img class="classicon classicon-active" src="/icons/shd.png"></a>
					<a href="/builds/shaman"><img class="classicon " src="/icons/shm.png"></a>
					<a href="/builds/warrior"><img class="classicon " src="/icons/war.png"></a>
					<a href="/builds/wizard"><img class="classicon " src="/icons/wiz.png"></a>
				</div>
			</div>
		</div>			
	</div>
</div>
	
{{ partial "footer" . }}
</body>
</html>