{{ partial "head" . }}

{{ partial "header" . }}


<div class="main-block">

		<!-- Page heading two starts -->

		<div class="page-heading-two">
				<div class="container">
					<h2>NPC <span>Creatures found in game</span></h2>
					<div class="breads">
						Home / <a href="/npc/">NPC</a> / {{.Title}}
					</div>
					<div class="clearfix"></div>
				</div>
			</div>

			<div class="container">

					<!-- Actual content form single item page -->
					<div class="restaurant">
						<div class="rest-single">
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<div class="block-heading-two">
										<h3><span>{{.Title}}</span></h3>
									</div>
									<!-- Item image -->
									<img class="img-responsive img-thumbnail" src="img/restaurant/medium/1.jpg" alt="" style="width:353px; height:223px;">
									<hr>
									<h4>Found in Zones<span class="color">:</span></h4>

									<table class="table table-bordered">
										<tbody><tr>
											<th>Nutrition</th>
											<th>Value</th>
										</tr>
										<tr>
											<td>Vitamin A</td>
											<td>400 g</td>
										</tr>
										<tr>
											<td>Potassium</td>
											<td>1600 mg</td>
										</tr>
										<tr>
											<td>Calories</td>
											<td>1400 kcal</td>
										</tr>
										<tr>
											<td>Trans Fat</td>
											<td>400 kg</td>
										</tr>
										<tr>
											<td>Vitamin C</td>
											<td>50 g</td>
										</tr>
										<tr>
											<td>Sodium</td>
											<td>40 g</td>
										</tr>
									</tbody></table>

								</div>
								<div class="col-md-8 col-sm-8">
									<h4>Drops <span class="color">:</span></h4>
									<div class="row">
										<div class="col-md-6">
											<div class="item-ingred">
												<!-- Ingredient list -->
												<ul class="list-unstyled">
													<li><i class="fa fa-angle-double-right"></i>&nbsp;
														Drop 1
														<span>100%</span>
														<div class="clearfix"></div>
													</li>
													<li><i class="fa fa-angle-double-right"></i>&nbsp;
														Suger
														<span>150g</span>
														<div class="clearfix"></div>
													</li>
													<li><i class="fa fa-angle-double-right"></i>&nbsp;
														Sale Marino
														<span>250g</span>
														<div class="clearfix"></div>
													</li>
													<li><i class="fa fa-angle-double-right"></i>&nbsp;
														Sweet Spices
														<span>300g</span>
														<div class="clearfix"></div>
													</li>
													<li><i class="fa fa-angle-double-right"></i>&nbsp;
														Dextrose
														<span>300g</span>
														<div class="clearfix"></div>
													</li>
													<li><i class="fa fa-angle-double-right"></i>&nbsp;
														Wine
														<span>100ml</span>
														<div class="clearfix"></div>
													</li>
													<li><i class="fa fa-angle-double-right"></i>&nbsp;
														Preservative
														<span>E252</span>
														<div class="clearfix"></div>
													</li>
												</ul>
											</div>
										</div>
										<div class="col-md-6">
											<!-- Payment form -->
											<div class="item-payment table-responsive">
												<form role="form">
														<table class="table table-striped">
																<tbody>
																		<tr><td>HP</td><td>{{.Params.hp}}</td></tr>
																		<tr><td>Damage</td><td>{{.Params.mindamage}}-{{.Params.maxdamage}}</td></tr>
																		<tr><td>Gender</td><td>{{.Params.gendername}}</td></tr>
																		<tr><td>Body Type</td><td>{{.Params.bodytypename}}</td></tr>
																		<tr><td>Race</td><td>{{.Params.racename}}</td></tr>
																		<tr><td>Class</td><td>{{.Params.classname}}</td></tr>
																		<tr><td>Level</td><td>{{.Params.level}}</td></tr>
																		<tr><td>Zone</td><td>{{.Params.zonename}}</td></tr>
																		<tr><td>Loot</td><td>{{.Params.lootcount}}</td></tr>
															</tbody></table>
												</form>
											</div>
										</div>
									</div>
									<h4>Details <span class="color">:</span></h4>
									<!-- paragraph -->
									<p>{{.Content}}</p>

								</div>
							</div>
						</div>
					</div>

				</div>
</div>

{{ partial "footer" . }}