{{ partial "head" . }}

{{ partial "header" . }}

<div id="intro" class="owl-carousel owl-theme-featured" style="opacity: 1; display: block;">
	<div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 2876px; left: 0px; display: block;"><div class="owl-item" style="width: 1438px;"><div class="item background-cover" style="background: url('/public/prestige/img/bg/ec.jpg')">
	  <div class="container">
		<div class="row">
		  <div class="carousel-caption-center colour-white">
		  
			  <h2>This server has one mission:</h2>
			  <h1>Make EQ fun again.</h1>
		  </div>
		</div>
	  </div>
	  <div class="overlay-bg"></div>
	</div></div></div></div>
<div class="owl-controls clickable" style="display: none;"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div></div></div>




<section id="featured2" class="featured">

  <div class="container">
	<div class="row">
	  <div class="col-sm-5 text-center">
		<img class="margin-top img-responsive" src="/images/guide/build-guide.gif" alt="Generic placeholder image" width="429" style="visibility: visible; ">
	  </div>
	  <div class="col-sm-5 col-sm-offset-1">
		<div class="vertical-align">
		  <h2>What are builds?</h2>
		  <p>Each time you level up, you gain a build point and are presented with an in game dialog, linking you to this website's <a href="/builds">build</a> section. Choose a build to place your points and it will instantly affect in game.</p>
		</div>
	  </div>
	</div>
  </div>

</section>

<!-- Pricing
================================================== -->
<section id="pricing" class="dark">

  <div class="page-header text-center">
	<h2>Level Features</h2>
  </div>

  <div class="container">
	<div class="row">
	  <div class="plans">
		  <div class="col-xs-12 col-sm-6 col-md-3">
			<div class="plan" style="visibility: visible; transform: translateundefined(8px) scale(0.95); opacity: 0; -webkit-transform: translateundefined(8px) scale(0.95); opacity: 0; ">
			  <div class="plan-title">
				<h2>1 to 10</h2>
				<h3><sup>Beginner</sup></h3>
			  </div>

			  <ul class="plan-features">
				<li><strong>Free #teleport</strong></li>
				<li>No EXP loss</li>
				<li>Keep your items on death</li>
				<li>Gain spells and skills automatically</li>
			  </ul>
			</div>
		  </div>

		  <div class="col-xs-12 col-sm-6 col-md-3">
			<div class="plan featured" style="visibility: visible; transform: translateundefined(8px) scale(0.95); opacity: 0; -webkit-transform: translateundefined(8px) scale(0.95); opacity: 0; ">
			  <div class="plan-title">
				<h2>11 to 40</h2>
				<h3><sup>Intermediate</sup></h3>
			  </div>

			  <ul class="plan-features">
				<li><strong>New #teleport destinations</strong></li>
				<li>Collect fragments</li>
				<li>#return on death</li>
				<li>TBD</li>
			  </ul>
			</div>
		  </div>

		  <div class="col-xs-12 col-sm-6 col-md-3">
			<div class="plan featured" style="visibility: visible; transform: translateundefined(8px) scale(0.95); opacity: 0; -webkit-transform: translateundefined(8px) scale(0.95); opacity: 0; ">
			  <div class="plan-title">
				<h2>41 to 60</h2>
				<h3><sup>Professional</sup></h3>
			  </div>

			  <ul class="plan-features">
				<li><strong>Two build trees</strong></li>
				<li>Lose items on death</li>
				<li>#teleport to Hate/Sky 46+</li>
				<li>TBD</li>
			  </ul>
			</div>
		  </div>

		  <div class="col-xs-12 col-sm-6 col-md-3">
			<div class="plan" style="visibility: visible; transform: translateundefined(8px) scale(0.95); opacity: 0; -webkit-transform: translateundefined(8px) scale(0.95); opacity: 0; ">
			  <div class="plan-title">
				<h2>60+</h2>
				<h3><sup>Expert</sup></h3>
			  </div>

			  <ul class="plan-features">
				<li><strong>Fill Experience Bottles</strong></li>
				<li>Find Elunium, upgrade Velious Armor</li>
				<li>TBD</li>
				<li>TBD</li>
			  </ul>
			</div>
		  </div>
		</div>
	</div>
  </div>

</section>

<!-- Gallery
================================================== -->
<section id="gallery">

  <div class="page-header text-center">
	<h2>Care to join?</h2>
  </div>

  <div class="container">        
	<div class="row">
	  <div class="col-sm-12 text-center">
		<div class="vertical-align">
		  <h2>Apply for Beta today</h2>
		  <p>Join discord and talk to the GMs to apply for the beta.</p>
		  <a class="btn btn-lg btn-primary signup" href="/chat" role="button">Apply For Beta</a><p></p>
		</div>
	  </div>
	</div>
  </div>

</section>

{{ partial "footer" . }}