{{ partial "head" . }}

<div id="container">
    {{ partial "header" . }}
    <div class="container">

  <div class="row" style="margin-top:60px;">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
        <form class="well bs-component">
          <div class="form-group">
                <p class="text-center">
                <label class="control-label">Changelog</label>
                </p>
                {{ range $name, $items := .Site.Taxonomies.tags }}
            <li class="category-list-item">
                <a class="category-list-link" href="{{ $.Site.BaseURL }}tags/{{ $name | urlize | lower }}">
                    {{ $name }}
                </a>
                <span class="category-list-count">{{ len $items }}</span>
            </li>
            {{ end }}
              </div>
          </form>
      </div>
      
    {{ partial "article_list" . }}
    </div>
  </div>
  </div>

</div>

{{ partial "footer" . }}
</body>
</html>
