{{ partial "head" . }}

{{ partial "header" . }}

<div id="intro">
 <section id="pricing" class="dark">
  <div class="container">
        <div class="row" style="margin-top:60px;">
        <div class="col-md-8 col-md-offset-2">
        <div class="row text-center">
               <h2>Changelog</h2>
               <p>
             {{ range $name, $items := .Site.Taxonomies.tags }}
                <a class="category-list-link" href="{{ $.Site.BaseURL }}tags/{{ $name | urlize | lower }}">{{ $name }} [{{ len $items }}]</a> &middot;
            {{ end }}
            </p>
            </div>
        </div>
        </div>
    </div>
  </div>
  </div>
  </section>
</div>


{{ partial "article_list" . }}

{{ partial "footer" . }}
</body>
</html>