<div class="header">
	<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
		<a class="border pure-menu-heading" href="/">Rebuild EQ</a>

		<ul class="border pure-menu-list">
			<!--  pure-menu-selected -->
			<li class="pure-menu-item"><a href="/about/" class="pure-menu-link">About</a></li>
			<li class="pure-menu-item"><a href="/builds/" class="pure-menu-link">Builds</a></li>
			<li class="pure-menu-item"><a href="/info/" class="pure-menu-link">Info</a></li>
			<li class="pure-menu-item"><a href="/news/" class="pure-menu-link">News</a></li>
			
			<li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
					<a href="#" id="menuLink1" class="pure-menu-link">Database</a>
					<ul class="pure-menu-children" style="background-color: #2d3e50">
						<li class="pure-menu-item"><a href="/item/" class="pure-menu-link">Item</a></li>
						<li class="pure-menu-item"><a href="/npc/" class="pure-menu-link">NPC</a></li>
						<li class="pure-menu-item"><a href="/spell/" class="pure-menu-link">Spell</a></li>
					</ul>
			</li>
		</ul>
	</div>
</div>
	