<div class="header">
	<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
		<a class="pure-menu-heading" href="/">Rebuild EQ</a>

		<ul class="pure-menu-list">
			<li class="pure-menu-item pure-menu-selected"><a href="/about/" class="pure-menu-link">About</a></li>
			<li class="pure-menu-item"><a href="/builds/" class="pure-menu-link">Builds</a></li>
			<li class="pure-menu-item"><a href="/info/" class="pure-menu-link">Info</a></li>
			<li class="pure-menu-item"><a href="/news/" class="pure-menu-link">News</a></li>
			<li class="pure-menu-item"><a href="/database/" class="pure-menu-link">Database</a></li>			
		</ul>
	</div>
</div>
	